body{
    font-family: Lato;
    margin: 0;
    padding: 0;
}
.header_sec, .hot-deal{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}
.writtings,.header_sec .image{
    width: 50%;
    padding: 30px;
}
.writtings{
    padding-left: 100px;
    padding-top: 100px;
}
.header_sec .image{
    background: url(../images/pngwing-10.png) top center;
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
}

.heading{
    color: #272727;
    font-family: Lato;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0px;
}
.details{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.details1{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;  
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border:0;
    font-style: normal;
    line-height: normal;
}
.title{
    margin-bottom: 24px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.divimg{
    display:flex;
    background: #FFF;
    justify-content: space-between;
    padding:10px 150px 10px 150px;

}
.stdiv{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    margin:10px;

}
.twdiv{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    margin:10px;
}
.thdiv{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    margin:10px;
    
}
.primary-color{
    color:#E55473;
}
.text{
    text-align: center;
}
.pic{
    display:flex;
    
}
.p{
    padding:110px 78px 0px 76px;
    margin-bottom:15px;
}
.p1{
    padding:117px 47px 51px 47px;
    margin-bottom:15px;
}
.p2{
    padding:67px 75px 0px 75px;
    margin-bottom:15px;
}
.m{
    padding:50px 240px 0px 0px;
}

/* features */
.featured{
    display:block;
    background: #fff;
    justify-content: space-around;  
    text-align: center;
    align-items: center;
    width: 100%; 
    margin-bottom: 60px;
}

.featured .box div{
    border-radius: 300px 300px 0px 0px;
    width: 250px;
}

.featured .box .box-1{
    background: rgba(167, 33, 98, 0.15);
}
.featured .box .box-2{
    background: rgba(5, 151, 160, 0.15);
}
.featured .box .box-3{
    background: rgba(71, 125, 17, 0.15);
}

.featured .box div img{
    padding-top: 50px;
}

.featured .box div{
    position: relative;
}
.featured .box div strong{
    position: absolute;
    text-decoration: underline;
    bottom: -25px;
    left: 0px;
    right: 0px;
}

.featured-box{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

/* hot deal portion */
 .hot-deal{
    display:flex;
    background: rgba(229, 84, 115, 0.05);;
    justify-content: space-around;  
    text-align: center;
    align-items: center;
    height: 500px;
}

.hot-deal .image{
    width:50%;
}
.hot-deal .image img{
    float: left;
    vertical-align: top;
    height: 350px;
}


/* instagram-section */
.instagram-section{
    display:block;
    background: #fff;
    justify-content: space-around;  
    text-align: center;
    align-items: center;
    width: 100%;
}
.instagram-section .details1, .featured .details1{
    text-align: center;
    padding: 0px 350px;
}
.instagram-section .title, .featured .title{
    margin-top: 50px;
}

.subscribe-box h2{
    font-size: 40px;
    padding-top: 80px;
    margin-bottom: 5px;
}
.subscribe-box p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.subscribe-box h2, .subscribe-box p{
    text-align: center;
    margin-top: 0;
}

form input{
    width: 300px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding: 5px 15px;
}
form button{
    font-size: 15px !important;
    padding: 18px 42px !important;
}

.box{
    position: relative;
    display: inline-flex;
}
.box div{
    margin: 5px;
}
.box div img{
    height: 276px;
}

.subscribe-box{
    background: url(../images/rectangle-9.png);
    height: 300px;
    width: 982px;
    position: relative;
    display: block;
    margin: 0 auto;
    border-radius: 0px 0px 5px 5px;
    background-position: top;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 60px;
}


/* footer */
footer{
    background: #111010;
    height: 250px;
    width:100%;
}
footer h4{
    padding-top: 50px;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 0px;
}
footer h4 span:first-child{
    color: #E55473;
}
footer h4 span:last-child{
    color: #fafafa;
}
footer p{
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 350px;
}
footer .copy-right{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}